.wrapper
  = render 'side'

  .main
    .main__header
      .main__header__left
        .main__header__left__group-name
          もーもー小隊
        .main__header__left__members
          Members: モーモ
      .main__header__right
        = link_to 'Edit', class: "group-edit"

    .main__middle
      = render 'message'

    .main__bottom
      .main__bottom__form
        .main__bottom__form__text
          = text_field :message, :text, placeholder: "type a message", class: "text"
        %label.main__bottom__form__image
          = fa_icon("image")
          %input{type: "file", id: "file"}

      .main__bottom__send
        %input{type: "submit", value: "Send", class: "main__bottom__send"}
